body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    border-color: 2px solid #5f9341;
    box-shadow: none;
    box-sizing: border-box;
}

button {
    color: white;
    font-weight: bold;
    box-shadow: none;
    background: #5f9341;
    box-shadow: none;
    border: none;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}